<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Collecting Job Data Using APIs**

*   Collect job data from Jobs API
*   Store the collected data into an excel spreadsheet.

## Dataset Used in this Assignment

The dataset used in this lab comes from the following source: https://www.kaggle.com/promptcloud/jobs-on-naukricom under the under a **Public Domain license**.

> Note: We are using a modified subset of that dataset for the lab, so to follow the lab instructions successfully please use the dataset provided with the lab, rather than the dataset from the original source.

The original dataset is a csv. We have converted the csv to json as per the requirement of the lab.

In [5]:
import requests # you need this module to make an API call
import pandas as pd

## Lab: Collect Jobs Data using Jobs API

### Objective: Determine the number of jobs currently open for various technologies  and for various locations

Collect the number of job postings for the following locations using the API:

* Los Angeles
* New York
* San Francisco
* Washington DC
* Seattle
* Austin
* Detroit

In [2]:
#Import required libraries
import pandas as pd
import json

#### Write a function to get the number of jobs for the Python technology.<br>
> Note: While using the lab you need to pass the **payload** information for the **params** attribute in the form of **key** **value** pairs.
  Refer the ungraded **rest api lab** in the course **Python for Data Science, AI & Development**  <a href="https://www.coursera.org/learn/python-for-applied-data-science-ai/ungradedLti/P6sW8/hands-on-lab-access-rest-apis-request-http?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01">link</a>
  
 ##### The keys in the json are 
 * Job Title
 
 * Job Experience Required
 
 * Key Skills
 
 * Role Category
 
 * Location
 
 * Functional Area
 
 * Industry
 
 * Role 
 
You can also view  the json file contents  from the following <a href = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/jobs.json">json</a> URL.

In [6]:
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/jobs.json'
def get_number_of_jobs_T(technology):
    no_jobs = []
    r= requests.get(url)
    if r.ok:
        data = r.json()
        for i in range(len(data)):
            n = data[i]['Key Skills']
            if technology in n or technology.capitalize() in n or technology.lower() in n:
                no_jobs.append(1)
                
        number_of_jobs = len(no_jobs) 
    return technology,number_of_jobs

Calling the function for Python and checking if it works.

In [7]:
get_number_of_jobs_T("Python")

('Python', 1173)

#### Write a function to find number of jobs in US for a location of your choice

In [8]:
def get_number_of_jobs_L(location):
    no_jobs = []
    r= requests.get(url)
    if r.ok:
        data = r.json()
        for i in range(len(data)):
            n = data[i]['Location']
            if n == location:
                no_jobs.append(1)
                
        number_of_jobs = len(no_jobs)     
    #your code goes here
    return location,number_of_jobs

Call the function for Los Angeles and check if it is working.

In [9]:
#your code goes here
get_number_of_jobs_L('Los Angeles')

('Los Angeles', 640)

### Store the results in an excel file

Call the API for all the given technologies above and write the results in an excel spreadsheet.

If you do not know how create excel file using python, double click here for **hints**.

<!--

from openpyxl import Workbook        # import Workbook class from module openpyxl
wb=Workbook()                        # create a workbook object
ws=wb.active                         # use the active worksheet
ws.append(['Country','Continent'])   # add a row with two columns 'Country' and 'Continent'
ws.append(['Eygpt','Africa'])        # add a row with two columns 'Egypt' and 'Africa'
ws.append(['India','Asia'])          # add another row
ws.append(['France','Europe'])       # add another row
wb.save("countries.xlsx")            # save the workbook into a file called countries.xlsx


-->

Create a python list of all locations for which you need to find the number of jobs postings.

In [11]:
location=["Los Angeles", "New York", "San Francisco", "Washington DC", "Seattle"]
def get_number_of_jobs_Loc_list(locations):
    r=requests.get(url) 
    number_of_jobs_list=[]
    for loca in locations:
        
        number_jobs = []
        if r.ok:
            data=r.json()
            for i in range(len(data)):
                n = data[i]['Location']
                if n == loca:
                    
                    number_jobs.append(1)
        number_of_jobs = len(number_jobs)
        number_of_jobs_list.append({loca: number_of_jobs})
                    
    return number_of_jobs_list

In [12]:
get_number_of_jobs_Loc_list(location)

[{'Los Angeles': 640},
 {'New York': 3226},
 {'San Francisco': 435},
 {'Washington DC': 5316},
 {'Seattle': 3375}]

#### In the similar way, you can try for below given technologies and results  can be stored in an excel sheet.

Collect the number of job postings for the following languages using the API:

*   C
*   C#
*   C++
*   Java
*   JavaScript
*   Python
*   Scala
*   Oracle
*   SQL Server
*   MySQL Server
*   PostgreSQL
*   MongoDB

In [25]:
import numpy as np
technologies = [' C ', ' C|', 'C#', 'c#', 'C++', 'c++', 'Java ', 'Java|', 'java|','java ', 'JAVA ', 'JAVA|', 'JavaScript', 'Javascript','javascript', 'Python', 'Scala', 'SCALA', 'scala', 'Oracle', 'oracle', \
                ' SQL Server', ' sql', ' SQL', '|sql', '|SQL', 'MySQL', 'mysql', 'Mysql','PostgreSQL', 'PostGreSQL','postgresql','MongoDB', 'mongodb', 'MongoDb']
country = ['Los Angeles', 'New York', 'San Francisco', 'Washington DC', 'Seattle', 'Austin', 'Detroit']
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/jobs.json' 
r=requests.get(url)

def get_number_of_jobs_TL(technology, countries):
    number_jobs = np.zeros((len(technology),len(countries)))
    for tech in technology:
        for loca in countries: 
            if r.ok:
                data=r.json()
                for i in range(len(data)):
                    n = data[i]['Location']
                    t= data[i]['Key Skills']
                    if n == loca and tech in t :
                        q=tech
                        u=n
                        p = countries.index(u)
                        m = technology.index(q)
                        number_jobs[m][p]+=1
    return number_jobs

In [40]:
data = get_number_of_jobs_TL(technologies, country)
df = pd.DataFrame(data=data ,index=technologies,columns=[ 'Los Angeles', 'New York', 'San Francisco', 'Washington DC', 'Seattle', 'Austin', 'Detroit'])
df

,Los Angeles,New York,San Francisco,Washington DC,Seattle,Austin,Detroit
C,0.0,0.0,0.0,1.0,1.0,0.0,1.0
C|,9.0,68.0,12.0,111.0,62.0,18.0,71.0
C#,5.0,41.0,3.0,68.0,49.0,5.0,60.0
c#,2.0,21.0,6.0,40.0,25.0,4.0,27.0
C++,3.0,43.0,3.0,55.0,41.0,4.0,32.0
c++,4.0,24.0,5.0,37.0,22.0,4.0,27.0
Java,5.0,12.0,2.0,21.0,17.0,2.0,11.0
Java|,17.0,121.0,12.0,209.0,132.0,9.0,143.0
java|,15.0,55.0,7.0,83.0,63.0,5.0,71.0
java,0.0,3.0,0.0,7.0,6.0,1.0,10.0
JAVA,0.0,0.0,0.0,1.0,0.0,0.0,0.0
JAVA|,0.0,4.0,0.0,7.0,5.0,0.0,4.0
JavaScript,7.0,51.0,7.0,61.0,52.0,5.0,41.0
Javascript,26.0,183.0,22.0,290.0,192.0,19.0,189.0
javascript,14.0,52.0,7.0,76.0,57.0,5.0,63.0
Python,24.0,143.0,17.0,258.0,133.0,15.0,170.0
Scala,0.0,8.0,0.0,3.0,4.0,1.0,5.0
SCALA,0.0,6.0,1.0,6.0,7.0,2.0,13.0
scala,1.0,5.0,0.0,12.0,1.0,0.0,7.0
Oracle,17.0,95.0,19.0,143.0,110.0,11.0,115.0
oracle,6.0,18.0,0.0,21.0,16.0,2.0,16.0
SQL Server,2.0,34.0,2.0,47.0,26.0,5.0,28.0
sql,14.0,55.0,7.0,72.0,45.0,4.0,46.0
SQL,28.0,214.0,22.0,333.0,197.0,30.0,216.0
|sql,0.0,4.0,0.0,6.0,1.0,0.0,3.0
|SQL,1.0,8.0,1.0,22.0,9.0,0.0,16.0
MySQL,20.0,93.0,20.0,132.0,97.0,13.0,93.0
mysql,2.0,25.0,4.0,29.0,24.0,4.0,30.0
Mysql,0.0,0.0,0.0,0.0,2.0,0.0,1.0
PostgreSQL,0.0,1.0,0.0,3.0,1.0,0.0,2.0
PostGreSQL,0.0,0.0,0.0,0.0,1.0,0.0,0.0
postgresql,0.0,1.0,1.0,3.0,3.0,0.0,1.0
MongoDB,2.0,25.0,2.0,32.0,21.0,1.0,25.0
mongodb,2.0,4.0,0.0,3.0,3.0,0.0,5.0
MongoDb,0.0,1.0,0.0,1.0,0.0,0.0,1.0